
<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
 <div>
   <img src="assets/img/logo.png" height="50px" />
 </div>
  </ion-toolbar>
</ion-header>


<ion-content color="secondary">
   <ion-slides pager="true">
     <ion-slide>
       <h2>REGISTRO</h2>
       <h6>Información personal</h6>
       <div>
        <ion-list 
        lines="none"
        class="list">
          <ion-item 
          class="item"
          color="secondary">
           <ion-label position="floating">
             Nombre:
           </ion-label>
           <ion-input 
           placeholder="" 
           class="input"
           ></ion-input>
          </ion-item>
          <br>
          <ion-item
          class="item"
          color="secondary">
            <ion-label position="floating">
              Correo electronico:
            </ion-label>
            <ion-input 
            placeholder="" 
            class="input"
            type="email"></ion-input>
          </ion-item>
          <br>
          <ion-item
          class="item"
          color="secondary">
            <ion-label position="floating">
              Contraseña:
            </ion-label>
            <ion-input 
            placeholder=""
            type="password"
            class="input"></ion-input>
          </ion-item>
          <br>
          <ion-item
          class="item"
          color="secondary">
            <ion-label position="floating">
                  Confirmación de contraseña:
            </ion-label>
            <ion-input placeholder="" 
            class="input"></ion-input>
          </ion-item>
          <br>
          <ion-item
          class="item"
          color="secondary">
            <ion-label position="floating">
              Fecha de nacimiento:
            </ion-label>
            <ion-datetime displayFormat="DD/MMM/YYYY"
            placeholder="DD/MM/YYYY"
            class="input"
            Cancel-text="cancelar"
            Done-text="Aceptar"></ion-datetime>
          </ion-item>
        </ion-list>
       </div>
     </ion-slide>


     <ion-slide>
      <h2>REGISTRO</h2>
      <h6>Información personal</h6>
      <div>
       <ion-list 
       lines="none"
       class="list">
         <ion-item 
         class="item"
         color="secondary">
          <ion-label position="floating">
            Sexo:
          </ion-label>
          <ion-select class="input"
          placeholder=""
          cancel-text="cancelar"
          ok-text="aceptar">
            <ion-select-option>Femenino</ion-select-option>
            <ion-select-option>Masculino</ion-select-option>
        </ion-select>
         </ion-item>
         <br>
         <ion-item
         class="item"
         color="secondary">
           <ion-label position="floating">
             Tipo de documento:
           </ion-label>
           <ion-select class="input"
          placeholder=""
          cancel-text="cancelar"
          ok-text="aceptar">
              <ion-select-option>Tarjeta de identidad</ion-select-option>
              <ion-select-option>Cedula de ciudadania</ion-select-option>
              <ion-select-option>Pasaporte extranjero</ion-select-option>
            </ion-select>
         </ion-item>
         <br>
         <ion-item
         class="item"
         color="secondary">
           <ion-label position="floating">
             Numero de documento:
           </ion-label>
           <ion-input 
           placeholder=""
           class="input"></ion-input>
         </ion-item>
         <br>
         <ion-item
         class="item"
         color="secondary">
           <ion-label position="floating">
             EPS:
           </ion-label>
           <ion-select class="input"
          placeholder=""
          cancel-text="cancelar"
          ok-text="aceptar"></ion-select>
         </ion-item>
         <br>
         <ion-item
         class="item"
         color="secondary">
           <ion-label position="floating">
             Celular:
           </ion-label>
           <ion-input 
           placeholder="" 
           type="tel"
           class="input"></ion-input>
         </ion-item>
       </ion-list>
      </div>
    </ion-slide>


     <ion-slide>
      <h2>REGISTRO</h2>
      <h6>Residencia</h6>
      <div>
        <ion-list 
        lines="none"
        class="list">
          <ion-item
          class="item"
          color="secondary">
            <ion-label position="floating">
              Departamento:
            </ion-label>
            <ion-select class="input"
          placeholder=""
          cancel-text="cancelar"
          ok-text="aceptar"></ion-select>
          </ion-item>
          <br>
          <ion-item
          class="item"
          color="secondary">
            <ion-label position="floating">
              Municipio:
            </ion-label>
            <ion-input 
            placeholder="" 
            class="input"></ion-input>
          </ion-item>
          <h6>Tu enfermedad</h6>
          <ion-item
          class="item"
          color="secondary">
            <ion-label position="floating">
              Tipo de cancer:
            </ion-label>
            <ion-input 
            placeholder="" 
            class="input"></ion-input>
          </ion-item>
          <br>
          <ion-item
          class="item"
          color="secondary">
            <ion-label position="floating">
              Estadio</ion-label>
            <ion-input 
            placeholder="" 
            class="input"></ion-input>
          </ion-item>
          <br>
          <ion-item
          class="item"
          color="secondary">
            <ion-label position="floating">
              Fecha de diagnostico:
            </ion-label>
            <ion-datetime displayFormat="DD/MMM/YYYY"
            placeholder="DD/MM/YYYY"
            class="input"
            Cancel-text="cancelar"
            Done-text="Aceptar"></ion-datetime>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>


    <ion-slide>
      <h2>REGISTRO</h2>
      <h6>Contactos</h6>
      <div>
        <ion-list lines="none"
        class="list">
          <ion-item
          class="item"
          color="secondary">
            <ion-label position="floating">
              Medico tratante:
            </ion-label>
            <ion-input 
            placeholder="" 
            style="text-transform: capitalize;"
            class="input"></ion-input>
          </ion-item>
          <br>
          <ion-item
          class="item"
          color="secondary">
            <ion-label position="floating">
              Farmacia:
            </ion-label>
            <ion-input 
            placeholder="" 
            style="text-transform: capitalize;"
            class="input"></ion-input>
          </ion-item>
          <br>
          <ion-item
          class="item"
          color="secondary">
            <ion-label position="floating">
              Hospital de tratamiento:
            </ion-label>
            <ion-input 
            placeholder="" 
            style="text-transform: capitalize;"
            class="input"
            ></ion-input>
          </ion-item>
          <br>
          <ion-item
          class="item"
          color="secondary">
            <ion-label position="floating">
              Urgencias:
            </ion-label>
            <ion-input 
            placeholder="" 
            style="text-transform: capitalize;"
            class="input"></ion-input>
          </ion-item>
        </ion-list>
      </div>
      <div>
        <ion-button  color="success" routerLink="/action-sheet">Registrar</ion-button>
        <br>
        <ion-button  color="danger"  (click)="Onlogout()">Cancelar</ion-button>
      </div>
    </ion-slide>
   </ion-slides>
  
</ion-content>
