

ion-slide {
    display: block;

}
*{
    font-family: Ancizar;
}

.input{
    
    border-radius: 20px;
    margin-bottom: 5%;
    
    margin-top: 1%;
    background-color:rgb(177, 178, 176) ;
    border: none;
    outline: none;
}

.item{
    background-color: #E6E7EB;
}

.list{
    background-color: #E6E7EB;
}



ion-slides{
    --bullet-background: grey;
    --bullet-background-active:#8890B2;
}




