<ion-header>
    <ion-toolbar color="medium">
      <ion-buttons
      slot="start">
          <ion-back-button 
          color="light"
          routerLink="/"
          defaultHref="/"
          mode="md"></ion-back-button>
      </ion-buttons>
  <!--PARA CREAR LAS TAREAS O EVENTOS HAY QUE MANDARLOS A UNA API REST
  LUEGO RECIBIRLA Y RENDERIZARLA MIRAR COMO AGREAGAR UNA FOTO, PARA IMPRIMIR LA INFORMACION
  JSON SE HACE CON NGFOR-->
      <div class="text-center contenedor">
          <h2 class="d-inline">Cáncer App</h2>
          <img src="assets/img/miniicon.png" width="80px" />
      </div>
  <!--<ion-buttons slot="end">
        <ion-button (click)="openModal()" slot="end">
          <ion-icon slot="start" name="add" color="light"></ion-icon>
        </ion-button>
      </ion-buttons> -->
      
    </ion-toolbar>
  </ion-header>

<ion-content color="secondary">
    <h2
    class="ion-text-center"
    >Mi plan</h2>
  
    <br>
    <div>
        <ion-list>
            <ion-item color="secondary">
                <ion-label>Hábito</ion-label>
                <ion-label>Estrategia</ion-label>
            </ion-item>
           
            <ion-item-sliding #slide>
                <ion-item color="secondary">
                    <ion-label>agregar habito</ion-label>
                    <ion-label>agregar estrategia</ion-label>
                    <ion-button fill="clear" class="button1" (click)="cerrar(slide)">
                         <ion-icon name="chevron-back-outline"slot="icon-only" *ngIf="!automaticClose"></ion-icon>
                         <ion-icon name="chevron-forward-outline" slot="icon-only" *ngIf="automaticClose"></ion-icon>
                    </ion-button>
                </ion-item>
                 
                <ion-item-options>
                    <ion-button  fill="clear" class="button1">
                        ver
                    </ion-button>
                    <ion-button color="success" fill="clear" >
                        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
                    </ion-button>
                    <ion-button color="danger" fill="clear" >
                        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                    </ion-button>
                </ion-item-options>
            </ion-item-sliding>

           
        </ion-list>
    
    </div>
    
  
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="success" size="small" (click)="openModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>      
    
</ion-content>

<app-footer></app-footer>