
<ion-header>
  <ion-toolbar color="warning">
    <ion-title class="ion-text-center">Medicamento</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">


 <ion-slides pager="true">
   
  <ion-slide>

      <ion-item class="item" color="secondary">
       <ion-label position="floating">Nombre:</ion-label>
       <ion-input placeholder="" class="input"></ion-input>
      </ion-item>

      <ion-item class="item" color="secondary">
        <ion-label position="floating"l>Medida:</ion-label>
        <ion-select placeHolder="seleccione" class="input"  cancel-text="Cancelar"ok-text="Aceptar">
            <ion-select-option>mg</ion-select-option>
            <ion-select-option>mcg</ion-select-option>
            <ion-select-option>ml</ion-select-option>
            <ion-select-option>cápsulas</ion-select-option>
            <ion-select-option>puffs</ion-select-option>
            <ion-select-option>gotas</ion-select-option>
            <ion-select-option>tabletas</ion-select-option>
            <ion-select-option>otros</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="item" color="secondary">
       <ion-label position="floating">Dosis:</ion-label>
       <ion-input placeholder="" class="input"></ion-input>
      </ion-item>

      <ion-item class="item" color="secondary">
       <ion-label position="floating">Frecuencia:</ion-label>
       <ion-select placeHolder="seleccione" class="input"  cancel-text="Cancelar" ok-text="Aceptar">
          <ion-select-option>cada 4 horas</ion-select-option>
          <ion-select-option>1 vez al día</ion-select-option>
          <ion-select-option>2 veces al día</ion-select-option>
          <ion-select-option>3 veces al día</ion-select-option>
          <ion-select-option>4 veces al día</ion-select-option>
        </ion-select>
      </ion-item>
<br>
<br>
   </ion-slide>

   <ion-slide>
     
      <ion-item class="item" color="secondary">
          <ion-label position="floating">Fecha de iniciación:</ion-label>
          <ion-datetime placeHolder="DD/MM/AAAA" displayFormat="DD/MM/YYYY" class="input"  cancel-text="Cancelar"
          done-text="Aceptar"></ion-datetime>
      </ion-item>
      <ion-item class="item" color="secondary">
          <ion-label position="floating">Fecha de finalización:</ion-label>
          <ion-datetime placeHolder="DD/MM/AAAA" displayFormat="DD/MM/YYYY" class="input"  cancel-text="Cancelar"
          done-text="Aceptar"></ion-datetime>
      </ion-item>

      <ion-item color="secondary">
            <ion-label>Recordatorio automático</ion-label>
            <ion-toggle slot="end"></ion-toggle>
      </ion-item>
     
      <ion-item class="item"color="secondary">
       <ion-label position="floating">Instrucciones de Uso:</ion-label>
       <ion-textarea placeholder="" class="input"></ion-textarea>
      </ion-item>
     
   </ion-slide>
  
   <ion-slide>

    <ion-grid fixed>
      <ion-row>

        <ion-col size=""></ion-col>
  
        <ion-col size="8">
            <ion-button  (click)="uploadPicture()" color="primary"  class="mx-auto d-block button1">Agregar Foto de medicamento</ion-button>
        </ion-col>
  
        <ion-col size=""></ion-col>
  
      </ion-row>
    </ion-grid>

    <img *ngIf="imagen_perfil" [src]="imagen_perfil" alt="imagen_perfil" class="mx-auto d-block">
       
   </ion-slide>

 </ion-slides>
  
</ion-content>

<ion-footer  color="primary">
<ion-toolbar color="secondary" class="footer">
  <ion-buttons slot="start" >
    <ion-button color="danger" (click)="close()" fill="clear"> Cancelar</ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="onClick()" color="success" fill="clear"> Agregar</ion-button>
  </ion-buttons>
</ion-toolbar>

</ion-footer>
