
<ion-header>
        <ion-toolbar color="medium">
            
            <ion-buttons
            slot="start">
                <ion-back-button 
                color="light"
                routerLink="/"
                defaultHref="/"
                mode="md"></ion-back-button>
            </ion-buttons>
    
            <div class="text-center contenedor">
                <h2 class="d-inline">Cáncer App</h2>
                <img src="assets/img/miniicon.png" width="80px" />
            </div>
            
        </ion-toolbar>
    </ion-header>