<app-headerlogo></app-headerlogo>

<ion-content color="secondary">

    <h3 class="ion-text-center">Apoyar</h3>

    <p class="ion-text-justify p1">En este proceso es fundamental fortalecer las capacidades de comunicación, 
        explorar y usar redes de apoyo primarias y secundarias. </p>

    <p class="ion-text-justify p1">La red de apoyo primario son aquellas conformadas por las relaciones significativas 
        e íntimas de los individuos. Incluyen la familia, los amigos e incluso el vecindario</p>

    <p class="ion-text-justify p1">Las redes  de apoyo secundario son  aquellas conformadas en el mundo externo a la familia,
         como los grupos recreativos, las organizaciones de salud, civiles, religiosas, laborales o de estudio.</p>

    <p class="ion-text-justify p1">Es muy importante identificar quienes son las personas y/o organizaciones que hacen parte de la red de apoyo.
         Para ello, puedo reflexionar frente a:  ¿En quién confío?  ¿Quién me apoya?  ¿Quién me escucha?  ¿A quién pido consejo? ¿Tengo respaldo 
         de otras personas para apoyar mi cuidado?  ¿He logrado tener comunicación efectiva con las personas que me apoyan en mi cuidado?  </p>

    <ion-title class="ion-text-center">Ahora tendré en cuenta los siguientes <br>principios básicos de la comunicación</ion-title>
    <ion-list>
        <ion-item color="secondary">
            <p class="ion-text-justify">1.Mantener escucha activa y atención frente al otro</p>
        </ion-item>

        <ion-item color="secondary">
            <p class="ion-text-justify">2.Expresar de forma sencilla y clara los síntomas y/o necesidades identificadas.</p>
        </ion-item>

        <ion-item color="secondary">
            <p class="ion-text-justify">3.No suponer que el personal de salud conoce a profundidad su condición. </p>
        </ion-item>

        <ion-item color="secondary">
            <p class="ion-text-justify">4.Ser auténtico y asertivo</p>
        </ion-item>

        <ion-item color="secondary">
            <p class="ion-text-justify">5.No interrumpir y hablar con velocidad moderada</p>
        </ion-item>

        <ion-item color="secondary">
            <p class="ion-text-justify">6.Buscar un lugar y tiempo adecuado para hablar</p>
        </ion-item>

        <ion-item color="secondary">
            <p class="ion-text-justify">7.No descuidar la comunicación no verbal, las expresiones faciales reflejan gran parte de nuestro sentir </p>
        </ion-item>

        <ion-item color="secondary">
            <p class="ion-text-justify">8.Evitar usar dispositivos móviles mientras otra persona está hablando, u otros distractores que afectan la concentración y atención</p>
        </ion-item>

        <ion-item color="secondary">
            <p class="ion-text-justify">9.Evitar hacer  juicios de valor o emitir conclusiones frente a la situación que se nos está confiando.</p>
        </ion-item>
    </ion-list>

    <ion-button (click)="close() " expand="block" color="success">
        Terminar Componente
     </ion-button>
</ion-content>

<app-footer></app-footer>
