<app-headerlogo></app-headerlogo>

<ion-content color="secondary">
<h3 class="ion-text-center">Armonizar</h3>

<p class="ion-text-justify">Después de estas reflexiones debo organizar mi plan. Debo tener en cuenta que eso implica:</p>

<p class="ion-text-justify">Conocerme en esta nueva condición  y darme prioridad sobre todas las situaciones</p>

<p class="ion-text-justify">Un espacio de descanso, reflexión y pausa, para pensar en mi y en esta condición.</p>

<p class="ion-text-justify">Implementar todas las medidas que propendan por mi cuidado y están orientadas por el equipo de salud</p>

<p class="ion-text-justify">Disfrutar cada una de las situaciones positivas que se me presenten en el cotidiano, La vida es de momentos y cada momento es valioso porque es irrepetible.</p>

<p class="ion-text-justify">Anticiparme a situaciones de riesgo, posibles complicaciones y eventos adversos a mis condición y tratamiento</p>

<p class="ion-text-justify">Relacionarme con otros, mis seres queridos y personas cercanas son fundamentales en este proceso. Ellos también están angustiados y preocupados, puedo hacerlos participes de mi cuidado para que sobrellevemos la situación de la mejor forma.</p>

<p class="ion-text-justify">Mentalizarse, poner mi mente en acción, en “modo activo”.</p>

<p class="ion-text-justify">Con apoyo espiritual, social, familiar y en alianza con el equipo de salud está situación será más llevadera</p>

<p class="ion-text-justify">Sentido común, de pertenencia, de paciencia y tiempo es lo que se necesita en estos momentos. </p>



<p class="ion-text-justify">ACTIVIDAD: DE UN LISTADO DE ELEMENTOS ARMAR EL KIT DE CUIDADO</p>

<p class="ion-text-justify">INSTRUMENTAL: Medicamentos, jeringas, bolsas de drenaje, tensiómetro, glucometro, termómetro, kit lavado de manos, espejo, pañales, pijamas, pañitos húmedos, toallas, medias anti-embólicas</p>

<p class="ion-text-justify">LOGÍSTICA:  teléfono móvil, correo electrónico, dinero, copagos, cuotas moderadoras, traslado a citas, órdenes médicas, dirección del lugar de consulta, documentos de identidad.</p>

<p class="ion-text-justify">PERSONAL DE APOYO: Cuidador o familiar acompañante</p>

<p class="ion-text-justify">OTROS: </p>





<ion-button (click)="onClick()" expand="block"  shape="round">
    Actividad?
</ion-button>
    <ion-button (click)="close() " expand="block"  color="success">
        Terminar Componente
     </ion-button>
</ion-content>

<app-footer></app-footer>