<ion-header>
  <ion-toolbar>
      <ion-buttons
      slot="start">
          <ion-button
          (click)="toggleMenu()">
              <ion-icon
              slot="icon-only"
              name="menu"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Estado de animo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h2
class="ion-text-center">
Estado de ánimo</h2>
<h6>¿Como se siente en este momento?</h6>
<!--LOS BOTONES DESPLIEGAN UN ALERT-->
<ion-item>
  <ion-label>Muy negativo</ion-label>
  <ion-checkbox slot="start"></ion-checkbox>
  <ion-button
  slot="end">Ver</ion-button>
</ion-item>
<ion-item>
  <ion-label>Negativo</ion-label>
  <ion-checkbox slot="start"></ion-checkbox>
  <ion-button
  slot="end">Ver</ion-button>
</ion-item>
<ion-item>
  <ion-label>Neutral</ion-label>
  <ion-checkbox slot="start"></ion-checkbox>
  <ion-button
  slot="end">Ver</ion-button>
</ion-item>
<ion-item>
  <ion-label>Positivo</ion-label>
  <ion-checkbox slot="start"></ion-checkbox>
  <ion-button
  slot="end">Ver</ion-button>
</ion-item>
<ion-item>
  <ion-label>Muy positivo</ion-label>
  <ion-checkbox slot="start"></ion-checkbox>
  <ion-button
  slot="end">Ver</ion-button>
</ion-item>
</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
          <ion-col
          class="ion-align-self-start">
            <div>
                <ion-button 
                color="success">
                  Guardar
                </ion-button> 
            </div>
          </ion-col>
          <ion-col
          class="ion-align-self-center">
            <div>
                <ion-button 
                color="success">
                  Estadísticas
                </ion-button> 
            </div>
          </ion-col>
          <ion-col
          class="ion-align-self-end">
            <div>
                <ion-button 
                color="success">
                  Cancelar
                </ion-button> 
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-footer>
