
:host ::ng-deep {
    .monthview-container {
        height: auto !important;
    }
 
   
}
*{
  font-family: Ancizar;
}
.indicator-container {
    padding-left: 0.5rem;
    padding-bottom: 0.4rem;
  }
   
  .event-indicator {
    background: var(--ion-color-light);
    width: 5px;
    height: 5px;
    border-radius: 5px;
    display: table-cell;
  }
   
  :host ::ng-deep {
    .monthview-primary-with-event {
      
    }

    .monthview-selected {
        background-color: var(--ion-color-success) !important;
      }
    }
     
    