
:host ::ng-deep {

  background-color: #ffffff;

    .monthview-container {
      
        height: auto !important;
        
    }
  
}
ion-content{
  font-family: Ancizar;
}
ion-card, ion-label{
  font-family: Ancizar;
}

.input{
    
  border-radius: 20px;
  margin-bottom: 5%;
  
  margin-top: 1%;
  background-color:rgb(177, 178, 176) ;
  border: none;
  outline: none;
  font-family: Ancizar;
}



.contenedor h2{
  font-family: Ancizar_italic;
  font-size: x-large;
  margin-right: 0px;
  margin: auto;
  padding-right: 0px;
  border-right: 0px;
}

.contenedor img{
  
  margin: auto;
  margin-left: 0px;
  padding-left: 0px;
  border-left: 0px;
}
.indicator-container {
    padding-left: 0.5rem;
    padding-bottom: 0.4rem;
  }
   
  .event-indicator {
    background: var(--ion-color-light);
    width: 5px;
    height: 5px;
    border-radius: 5px;
    display: table-cell;
  }
   
  :host ::ng-deep {
    .monthview-primary-with-event {
      
      
    }

    .monthview-selected {
      
        background-color: var(--ion-color-success) !important;
      }
    }
  