
<ion-header>
   <ion-toolbar color="medium">
     <div class="text-center">
      <h1 class="d-inline">Cáncer App</h1>
      <img src="assets/img/miniicon.png" width="80px" />
     </div>
   </ion-toolbar>
</ion-header>

<ion-content 
  fullscreen="true"
  color="secondary">

  <div>
    <p 
      class="ion-text-center text-md-center">
      Nuestra aplicación te ayudará a conocer <br> más de tu experiencia y dar un mejor <br>manejo a tu enfermedad.
    </p>
  </div>
  

  <ion-list 
    lines="none"
    class="list"> 
    <ion-item color="secondary">
      <ion-input
        [(ngModel)]="email" 
        placeholder="Correo electrónico"
        class="input"
        type="email"
        name="email">
        <ion-buttons slot="start">
          <ion-button (click)="presentActionSheet()">
              <ion-icon name="mail-outline" slot="icon-only" ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-input>
    </ion-item>

      <br>

    <ion-item
      color="secondary">
      <ion-input
        [(ngModel)]="password" 
        placeholder="Contraseña"
        class="input"
        [type]="showPassword ? 'text' : 'password'" 
        name="password">
        <ion-buttons slot="end">
          <ion-button 
            (click)="togglePassword()">
            <ion-icon name="eye-outline"slot="icon-only" *ngIf="showPassword"></ion-icon>
            <ion-icon name="eye-off-outline" slot="icon-only" *ngIf="!showPassword"></ion-icon>
          </ion-button>
        </ion-buttons>
       </ion-input>
      </ion-item>
    </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button 
          color="success"
          (click)="OnSubmitLogin()" 
          mode="ios"
          class="btn-success mx-auto d-block">

          INGRESAR

        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button 
          color="danger"
          routerLink="/registro" 
          mode="ios"
          class="btn-danger mx-auto d-block">

          REGISTRO
        
        </ion-button> 
      </ion-col>
    </ion-row>
  </ion-grid>

  <div 
    class="ion-text-center ion-margin-top">
      <a routerLink="/registro">
        <small
          class="le">

          Olvidé mi Contraseña

        </small>
      </a>
  </div>
    
</ion-content>

<app-footer></app-footer>
<!--
   The core Firebase JS SDK is always required and must be listed first 
<script src="/__/firebase/7.21.0/firebase-app.js"></script>

TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries 
<script src="/__/firebase/7.21.0/firebase-analytics.js"></script>

 Initialize Firebase
<script src="/__/firebase/init.js"></script>
--hola que tal--->
    
    

  
  
    
    
    
  
    
  

  

  
  

  
 
