<ion-list mode="md">
  <ion-item (click)="onClick()" routerLink="/action-sheet/editar-perfil">
      <ion-label>Editar Perfil</ion-label>
      <ion-icon
      name="chevron-forward"></ion-icon>
  </ion-item>

  <ion-item (click)="onClick()" routerLink="/action-sheet/cambio-contra">
      <ion-label>Cambiar Contraseña</ion-label>
      <ion-icon
      name="chevron-forward"></ion-icon>
  </ion-item> 

  <ion-item routerLink="/action-sheet/opciones" (click)="onClick()">
    <ion-label>Opciones</ion-label>
    <ion-icon
    name="chevron-forward"></ion-icon>
</ion-item> 

<ion-item (click)="Onlogout()">
  <ion-label>Cerrar Sesión</ion-label>
  <ion-icon name="power-outline"></ion-icon>
</ion-item>

</ion-list>