.input{
    
    border-radius: 20px;
    margin-bottom: 5%;
    
    margin-top: 1%;
    background-color:rgb(177, 178, 176) ;
    border: none;
    outline: none;
}

.item{
    background-color:#ffff;
    
}
*{
    font-family: Ancizar;
}