<ion-header>
  <ion-toolbar>
      <ion-buttons
      slot="start">
          <ion-button
          (click)="toggleMenu()">
              <ion-icon
              slot="icon-only"
              name="menu"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center">habitos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h2
    class="ion-text-center">
Reflexión: Hábitos y conductas</h2>
<h6>1.Tengo hábitos nocivos:</h6>
    <ion-list>
        <ion-item>
            <ion-label>Hábito 1</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Hábito 2</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Hábito 3</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
    </ion-list>
    <h6>2.Tengo estilos de vida saludables:</h6>
    <ion-list>
        <ion-item>
            <ion-label>Estilo 1</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Estilo 2</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Estilo 3</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Otro</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <!--colocar el label encima-->
        <ion-item>
            <ion-label>Cual:</ion-label>
            <ion-input></ion-input>
        </ion-item>
    </ion-list>
    <h6>3.Tengo conductas de automanejo frente a mi condicion
        de salud:
    </h6>
    <ion-list>
        <ion-item>
            <ion-label>Conducta 1</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Conducta 2</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Conducta 3</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Conducta 4</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Conducta 5</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Conducta 6</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Conducta 7</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Conducta 8</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Conducta 9</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
    </ion-list>
    
</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
          <ion-col
          class="ion-align-self-start">
            <div>
                <ion-button 
                color="success">
                  Calificar
                </ion-button> 
            </div>
          </ion-col>
          
          <ion-col
          class="ion-align-self-end">
            <div>
                <ion-button 
                color="success">
                  Regresar
                </ion-button> 
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-footer>
