<ion-header>
  <ion-toolbar>
      <ion-buttons
      slot="start">
          <ion-button
          (click)="toggleMenu()">
              <ion-icon
              slot="icon-only"
              name="menu"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Efectos secundarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h2
    class="ion-text-center">
Efectos secundarios del tratamiento</h2>
    <div>
        <h6>
            Caida del cabello:
        </h6>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, 
            repellat vitae. Eveniet delectus sit tempora autem deleniti ullam suscipit error, 
            qui sunt corporis perspiciatis non aperiam mollitia unde atque aliquam?
        </p>
    </div>
    <div>
        <h6>
            Sequedad en la boca:
        </h6>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, 
            repellat vitae. Eveniet delectus sit tempora autem deleniti ullam suscipit error, 
            qui sunt corporis perspiciatis non aperiam mollitia unde atque aliquam?
        </p>
    </div>
    <div>
        <h6>
            Alteraciones en la concentración y la memoria:
        </h6>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, 
            repellat vitae. Eveniet delectus sit tempora autem deleniti ullam suscipit error, 
            qui sunt corporis perspiciatis non aperiam mollitia unde atque aliquam?
        </p>
    </div>
</ion-content>
<ion-footer>
    <ion-button
    expand="full">Regresar</ion-button>
</ion-footer>
