<ion-header>
  <ion-toolbar>
      <ion-buttons
      slot="start">
          <ion-button
          (click)="toggleMenu()">
              <ion-icon
              slot="icon-only"
              name="menu"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center">signos de alarma</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <h2
    class="ion-text-center">Juego signos de alarma</h2>
    <p>relaciona los signos de alarma con su caracteristica:</p>
    <div>
        <ion-list>
            <ion-item>
                <ion-label>SIGNO</ion-label>
                <ion-label>CARACTERISTICA</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Signo 1</ion-label>
                <ion-label>Caracteristica 1</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Signo 2</ion-label>
                <ion-label>Caracteristica 2</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Signo 3</ion-label>
                <ion-label>Caracteristica 3</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Signo 4</ion-label>
                <ion-label>Caracteristica 4</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Signo 5</ion-label>
                <ion-label>Caracteristica 5</ion-label>
            </ion-item>
        </ion-list>
    </div>

</ion-content>
<ion-footer>
    <ion-button
    expand="full">Calificar</ion-button>
    <ion-button
    expand="full">Regresar</ion-button>
</ion-footer>