/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/*Anzicar*/
@font-face{
    font-family: Ancizar;
    src : url('assets/fonts/ancizar_sans-regular-webfont.woff')

   
}

/*Anzicar Bold Italic*/
@font-face{
    font-family: Ancizar_italic_bold;
    src : url('assets/fonts/ancizar_sans-bold_italic-webfont.woff')
}

/*Anzicar Italic*/
@font-face{
    font-family: Ancizar_italic;
    src : url('assets/fonts/ancizarsans_italic-webfont.woff')
}

.cal-modal {
    --height: 80%;
    --border-radius: 10px;
    padding: 25px;
}

.azul, .azul .sc-ion-action-sheet-md{
    color: #3b5998;
    font-family: Ancizar;

} 

.verde, .verde .sc-ion-action-sheet-md{
    color: rgb(15, 157, 88);
    font-family: Ancizar;

} 
.my-custom-class{
    font-family: Ancizar;
}

.miplan-modal{
    --height: 50%;
    --border-radius: 10px;
    padding: 25px;
}

