<ion-header>
  <ion-toolbar color="medium">
      
      <ion-buttons
      slot="start">
          <ion-back-button 
          color="light"
          routerLink="/action-sheet/sintomas-sicologicos"
          defaultHref="/action-sheet/sintomas-sicologicos"
          mode="md"></ion-back-button>
      </ion-buttons>

      <div class="text-center contenedor">
          <h2 class="d-inline">Cáncer App</h2>
          <img src="assets/img/miniicon.png" width="80px" />
      </div>
      
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2
    class="ion-text-center"
    >Síntomas psicológicos experimentados</h2>
  <h4>Estadística</h4>
  <ion-card>
    <ion-card-header>
      <img src="assets/img/grafico.jpg"/>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Eaque nostrum dolorum cumque architecto ex ipsam est explicabo consequatur totam, 
       corrupti sint nemo soluta debitis quis, 
       numquam vero repudiandae eligendi! Repudiandae?
    </ion-card-content>
  </ion-card>
  <h4>Tendencia</h4>
  <ion-card>
    <ion-card-header>
      <img src="assets/img/grafico.jpg"/>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Eaque nostrum dolorum cumque architecto ex ipsam est explicabo consequatur totam, 
       corrupti sint nemo soluta debitis quis, 
       numquam vero repudiandae eligendi! Repudiandae?
    </ion-card-content>
  </ion-card>
 
</ion-content>
<app-footer></app-footer>