<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons
    slot="start">
        <ion-back-button 
        color="light"
        routerLink="/"
        defaultHref="/"
        mode="md"></ion-back-button>
    </ion-buttons>
<!--PARA CREAR LAS TAREAS O EVENTOS HAY QUE MANDARLOS A UNA API REST
LUEGO RECIBIRLA Y RENDERIZARLA MIRAR COMO AGREAGAR UNA FOTO, PARA IMPRIMIR LA INFORMACION
JSON SE HACE CON NGFOR-->
    <div class="text-center contenedor">
        <h2 class="d-inline">Cáncer App</h2>
        <img src="assets/img/miniicon.png" width="80px" />
    </div>

    
  </ion-toolbar>
</ion-header>


<ion-content color="secondary">
    <h2
    class="ion-text-center">
    Tratamiento actual</h2>

        <ion-list>
            <ion-item class="item" color="secondary">
                <ion-label>Nombre</ion-label>
                <ion-label>Medida</ion-label>
                <ion-label>Dosis</ion-label>
                
            </ion-item>
            
        </ion-list>
        <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button color="success" size="small" (click)="openModal()">
              <ion-icon name="add"></ion-icon>
          </ion-fab-button>
      </ion-fab>  
    
    
   
</ion-content>
<app-footer></app-footer>