<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons
    slot="start">
        <ion-back-button 
        color="light"
        routerLink="/"
        defaultHref="/"
        mode="md"></ion-back-button>
    </ion-buttons>
<!--PARA CREAR LAS TAREAS O EVENTOS HAY QUE MANDARLOS A UNA API REST
LUEGO RECIBIRLA Y RENDERIZARLA MIRAR COMO AGREAGAR UNA FOTO, PARA IMPRIMIR LA INFORMACION
JSON SE HACE CON NGFOR-->
    <div class="text-center contenedor">
        <h2 class="d-inline">Cáncer App</h2>
        <img src="assets/img/miniicon.png" width="80px" />
    </div>

    <ion-buttons slot="end">
      <ion-button (click)="openModal()" slot="end">
        <ion-icon slot="start" name="add" color="light"></ion-icon>
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>


<ion-content color="secondary">
    <h2
    class="ion-text-center">
    Tratamiento actual</h2>

        <ion-list>
            <ion-item class="item" color="secondary">
                <ion-label>Nombre</ion-label>
                <ion-label>Medida</ion-label>
                <ion-label>Dosis</ion-label>
                <ion-icon 
                name="duplicate-outline"
                (click)="Add()"></ion-icon>
            </ion-item>
            <ion-item class="item" color="secondary">
                <ion-label>Mark</ion-label>
                <ion-label>Otto</ion-label>
                <ion-label>@mdo</ion-label>
                <ion-icon name="create-outline"></ion-icon>
                <ion-icon name="trash-outline"></ion-icon>
            </ion-item>
            <ion-item class="item" color="secondary">
                <ion-label>Jacob</ion-label>
                <ion-label>Thornton</ion-label>
                <ion-label>@fat</ion-label>
                <ion-icon name="create-outline"></ion-icon>
                <ion-icon name="trash-outline"></ion-icon>
            </ion-item>
            <ion-item class="item" color="secondary">
                <ion-label>Larry</ion-label>
                <ion-label>the Bird</ion-label>
                <ion-label>@twitter</ion-label>
                <ion-icon name="create-outline"></ion-icon>
                <ion-icon 
                name="trash-outline"></ion-icon>
            </ion-item>
        </ion-list>
    <ion-button   (click)="openModal()" color="dark" expand="block" fill="clear" shape="round">
      Click me
    </ion-button>
    
    
   
</ion-content>
<app-footer></app-footer>